/* ChatBotIcon styles */
.chat-bot-icon {
    position: fixed;
    bottom: 15px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #7C0C24;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 999;
    transition: background-color 0.3s ease-in-out;
    border: 2px solid black;
  }
  
  .chat-bot-icon img {
    width: 80%; 
    height: auto;
  }
  
  .chat-bot-icon:hover {
    background-color: #FDE9EA;
    border: 2px solid black;
  }
  